<div id="pc-builder-root"></div>

{% schema %}
{
  "name": "PC Builder",
  "target": "section",
  "javascript": "builder.js",
  "settings": [
    
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Build Your Custom PC"
    }
  ]
}
{% endschema %}
